---
layout: default
title: "Welcome Packet"
nav_order: 1
---

<h1>Welcome to Silver Creek</h1>

{% assign welcome_pdfs = site.static_files | where_exp: "file", "file.path contains 'Welcome Pack'" %}

{% assign active_pdfs = "" | split: "" %}
{% for file in welcome_pdfs %}
  {% unless file.name contains "OLD-" %}
    {% assign active_pdfs = active_pdfs | push: file %}
  {% endunless %}
{% endfor %}

{% assign welcome_pdf = active_pdfs | first %}

{% if welcome_pdf %}

    <div class="pdf-wrapper">
        <iframe 
            src="{{ welcome_pdf.path | relative_url }}">
        </iframe>
    </div>

{% else %}

    <p>Welcome Packet PDF not found.</p>

{% endif %}